/* line 18, compass_twitter_bootstrap/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 27, compass_twitter_bootstrap/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, compass_twitter_bootstrap/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 43, compass_twitter_bootstrap/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 49, compass_twitter_bootstrap/_reset.scss */
a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 54, compass_twitter_bootstrap/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 62, compass_twitter_bootstrap/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 68, compass_twitter_bootstrap/_reset.scss */
sup {
  top: -0.5em;
}

/* line 71, compass_twitter_bootstrap/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 78, compass_twitter_bootstrap/_reset.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 87, compass_twitter_bootstrap/_reset.scss */
#mapCanvas label {
  width: auto;
  display: inline;
}

/* line 88, compass_twitter_bootstrap/_reset.scss */
#mapCanvas img {
  max-width: none;
}

/* line 97, compass_twitter_bootstrap/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 103, compass_twitter_bootstrap/_reset.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 108, compass_twitter_bootstrap/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 115, compass_twitter_bootstrap/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 119, compass_twitter_bootstrap/_reset.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 126, compass_twitter_bootstrap/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 129, compass_twitter_bootstrap/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 9, compass_twitter_bootstrap/_scaffolding.scss */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: white;
}

/* line 22, compass_twitter_bootstrap/_scaffolding.scss */
a {
  color: #0088cc;
  text-decoration: none;
}

/* line 26, compass_twitter_bootstrap/_scaffolding.scss */
a:hover {
  color: #005580;
  text-decoration: underline;
}

/* line 35, compass_twitter_bootstrap/_scaffolding.scss */
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 39, compass_twitter_bootstrap/_scaffolding.scss */
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* line 49, compass_twitter_bootstrap/_scaffolding.scss */
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

/* line 9, compass_twitter_bootstrap/_type.scss */
p {
  margin: 0 0 10px;
}

/* line 12, compass_twitter_bootstrap/_type.scss */
.lead {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
}

/* line 23, compass_twitter_bootstrap/_type.scss */
small {
  font-size: 85%;
}

/* line 26, compass_twitter_bootstrap/_type.scss */
strong {
  font-weight: bold;
}

/* line 29, compass_twitter_bootstrap/_type.scss */
em {
  font-style: italic;
}

/* line 32, compass_twitter_bootstrap/_type.scss */
cite {
  font-style: normal;
}

/* line 35, compass_twitter_bootstrap/_type.scss */
.muted {
  color: #999999;
}

/* line 43, compass_twitter_bootstrap/_type.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}
/* line 50, compass_twitter_bootstrap/_type.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

/* line 56, compass_twitter_bootstrap/_type.scss */
h1 {
  font-size: 36px;
  line-height: 40px;
}

/* line 57, compass_twitter_bootstrap/_type.scss */
h2 {
  font-size: 30px;
  line-height: 40px;
}

/* line 58, compass_twitter_bootstrap/_type.scss */
h3 {
  font-size: 24px;
  line-height: 40px;
}

/* line 59, compass_twitter_bootstrap/_type.scss */
h4 {
  font-size: 18px;
  line-height: 20px;
}

/* line 60, compass_twitter_bootstrap/_type.scss */
h5 {
  font-size: 14px;
  line-height: 20px;
}

/* line 61, compass_twitter_bootstrap/_type.scss */
h6 {
  font-size: 12px;
  line-height: 20px;
}

/* line 63, compass_twitter_bootstrap/_type.scss */
h1 small {
  font-size: 24px;
}

/* line 64, compass_twitter_bootstrap/_type.scss */
h2 small {
  font-size: 18px;
}

/* line 65, compass_twitter_bootstrap/_type.scss */
h3 small {
  font-size: 14px;
}

/* line 66, compass_twitter_bootstrap/_type.scss */
h4 small {
  font-size: 14px;
}

/* line 72, compass_twitter_bootstrap/_type.scss */
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

/* line 84, compass_twitter_bootstrap/_type.scss */
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

/* line 91, compass_twitter_bootstrap/_type.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 94, compass_twitter_bootstrap/_type.scss */
li {
  line-height: 20px;
}

/* line 98, compass_twitter_bootstrap/_type.scss */
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 104, compass_twitter_bootstrap/_type.scss */
dl {
  margin-bottom: 20px;
}

/* line 108, compass_twitter_bootstrap/_type.scss */
dt,
dd {
  line-height: 20px;
}

/* line 111, compass_twitter_bootstrap/_type.scss */
dt {
  font-weight: bold;
}

/* line 114, compass_twitter_bootstrap/_type.scss */
dd {
  margin-left: 10px;
}

/* line 119, compass_twitter_bootstrap/_type.scss */
.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 126, compass_twitter_bootstrap/_type.scss */
.dl-horizontal dd {
  margin-left: 130px;
}

/* line 135, compass_twitter_bootstrap/_type.scss */
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
}

/* line 143, compass_twitter_bootstrap/_type.scss */
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

/* line 147, compass_twitter_bootstrap/_type.scss */
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 153, compass_twitter_bootstrap/_type.scss */
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
/* line 157, compass_twitter_bootstrap/_type.scss */
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
/* line 161, compass_twitter_bootstrap/_type.scss */
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
/* line 165, compass_twitter_bootstrap/_type.scss */
blockquote small:before {
  content: '\2014 \00A0';
}
/* line 171, compass_twitter_bootstrap/_type.scss */
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
/* line 178, compass_twitter_bootstrap/_type.scss */
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
/* line 182, compass_twitter_bootstrap/_type.scss */
blockquote.pull-right small:before {
  content: '';
}
/* line 185, compass_twitter_bootstrap/_type.scss */
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

/* line 196, compass_twitter_bootstrap/_type.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

/* line 201, compass_twitter_bootstrap/_type.scss */
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: "FontAwesome";
  src: url('/../fonts/../fonts/fontawesome-webfont.eot');
  src: url('/../fonts/../fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('/../fonts/../fonts/fontawesome-webfont.woff') format('woff'), url('/../fonts/../fonts/fontawesome-webfont.ttf') format('truetype'), url('/../fonts/../fonts/fontawesome-webfont.otf') format('opentype'), url('/../fonts/../fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('/../fonts/../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* sprites.less reset */
/* line 42, compass_twitter_bootstrap/_font-awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}

/* line 53, compass_twitter_bootstrap/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 60, compass_twitter_bootstrap/_font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* line 69, compass_twitter_bootstrap/_font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
/* line 75, compass_twitter_bootstrap/_font-awesome.scss */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em;
}

/* line 82, compass_twitter_bootstrap/_font-awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

/* line 90, compass_twitter_bootstrap/_font-awesome.scss */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 96, compass_twitter_bootstrap/_font-awesome.scss */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

/* line 103, compass_twitter_bootstrap/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
/* line 107, compass_twitter_bootstrap/_font-awesome.scss */
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
/* line 111, compass_twitter_bootstrap/_font-awesome.scss */
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -4/3em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 118, compass_twitter_bootstrap/_font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 119, compass_twitter_bootstrap/_font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 120, compass_twitter_bootstrap/_font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 121, compass_twitter_bootstrap/_font-awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 122, compass_twitter_bootstrap/_font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 123, compass_twitter_bootstrap/_font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 124, compass_twitter_bootstrap/_font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 125, compass_twitter_bootstrap/_font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 126, compass_twitter_bootstrap/_font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 127, compass_twitter_bootstrap/_font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 128, compass_twitter_bootstrap/_font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 129, compass_twitter_bootstrap/_font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 130, compass_twitter_bootstrap/_font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 131, compass_twitter_bootstrap/_font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 132, compass_twitter_bootstrap/_font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 134, compass_twitter_bootstrap/_font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 135, compass_twitter_bootstrap/_font-awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 136, compass_twitter_bootstrap/_font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 137, compass_twitter_bootstrap/_font-awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 138, compass_twitter_bootstrap/_font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 139, compass_twitter_bootstrap/_font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 140, compass_twitter_bootstrap/_font-awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 141, compass_twitter_bootstrap/_font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 142, compass_twitter_bootstrap/_font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 143, compass_twitter_bootstrap/_font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 144, compass_twitter_bootstrap/_font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 145, compass_twitter_bootstrap/_font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 146, compass_twitter_bootstrap/_font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 147, compass_twitter_bootstrap/_font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 148, compass_twitter_bootstrap/_font-awesome.scss */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
/* line 151, compass_twitter_bootstrap/_font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 152, compass_twitter_bootstrap/_font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 153, compass_twitter_bootstrap/_font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 154, compass_twitter_bootstrap/_font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 155, compass_twitter_bootstrap/_font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 156, compass_twitter_bootstrap/_font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 157, compass_twitter_bootstrap/_font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 158, compass_twitter_bootstrap/_font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 159, compass_twitter_bootstrap/_font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 160, compass_twitter_bootstrap/_font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 161, compass_twitter_bootstrap/_font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 162, compass_twitter_bootstrap/_font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 163, compass_twitter_bootstrap/_font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 164, compass_twitter_bootstrap/_font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 165, compass_twitter_bootstrap/_font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 167, compass_twitter_bootstrap/_font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 168, compass_twitter_bootstrap/_font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 169, compass_twitter_bootstrap/_font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 170, compass_twitter_bootstrap/_font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 171, compass_twitter_bootstrap/_font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 172, compass_twitter_bootstrap/_font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 173, compass_twitter_bootstrap/_font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 174, compass_twitter_bootstrap/_font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 175, compass_twitter_bootstrap/_font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 176, compass_twitter_bootstrap/_font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 177, compass_twitter_bootstrap/_font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 178, compass_twitter_bootstrap/_font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 179, compass_twitter_bootstrap/_font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 180, compass_twitter_bootstrap/_font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 181, compass_twitter_bootstrap/_font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 183, compass_twitter_bootstrap/_font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 184, compass_twitter_bootstrap/_font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 185, compass_twitter_bootstrap/_font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 186, compass_twitter_bootstrap/_font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 187, compass_twitter_bootstrap/_font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 188, compass_twitter_bootstrap/_font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 189, compass_twitter_bootstrap/_font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 190, compass_twitter_bootstrap/_font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 191, compass_twitter_bootstrap/_font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 192, compass_twitter_bootstrap/_font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 193, compass_twitter_bootstrap/_font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 194, compass_twitter_bootstrap/_font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 195, compass_twitter_bootstrap/_font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 196, compass_twitter_bootstrap/_font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 197, compass_twitter_bootstrap/_font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 199, compass_twitter_bootstrap/_font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 200, compass_twitter_bootstrap/_font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 201, compass_twitter_bootstrap/_font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 202, compass_twitter_bootstrap/_font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 203, compass_twitter_bootstrap/_font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 204, compass_twitter_bootstrap/_font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 205, compass_twitter_bootstrap/_font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 206, compass_twitter_bootstrap/_font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 207, compass_twitter_bootstrap/_font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 208, compass_twitter_bootstrap/_font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 209, compass_twitter_bootstrap/_font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 210, compass_twitter_bootstrap/_font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 211, compass_twitter_bootstrap/_font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 212, compass_twitter_bootstrap/_font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 213, compass_twitter_bootstrap/_font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 215, compass_twitter_bootstrap/_font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 216, compass_twitter_bootstrap/_font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 217, compass_twitter_bootstrap/_font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 218, compass_twitter_bootstrap/_font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 219, compass_twitter_bootstrap/_font-awesome.scss */
.icon-share-alt:before {
  content: "\f064";
}

/* line 220, compass_twitter_bootstrap/_font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 221, compass_twitter_bootstrap/_font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 222, compass_twitter_bootstrap/_font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 223, compass_twitter_bootstrap/_font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 224, compass_twitter_bootstrap/_font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 225, compass_twitter_bootstrap/_font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 226, compass_twitter_bootstrap/_font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 227, compass_twitter_bootstrap/_font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 228, compass_twitter_bootstrap/_font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 229, compass_twitter_bootstrap/_font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 231, compass_twitter_bootstrap/_font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 232, compass_twitter_bootstrap/_font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 233, compass_twitter_bootstrap/_font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 234, compass_twitter_bootstrap/_font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 235, compass_twitter_bootstrap/_font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 236, compass_twitter_bootstrap/_font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 237, compass_twitter_bootstrap/_font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 238, compass_twitter_bootstrap/_font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 239, compass_twitter_bootstrap/_font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 240, compass_twitter_bootstrap/_font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 241, compass_twitter_bootstrap/_font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 242, compass_twitter_bootstrap/_font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 243, compass_twitter_bootstrap/_font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 244, compass_twitter_bootstrap/_font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 245, compass_twitter_bootstrap/_font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 247, compass_twitter_bootstrap/_font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 248, compass_twitter_bootstrap/_font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 249, compass_twitter_bootstrap/_font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 250, compass_twitter_bootstrap/_font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 251, compass_twitter_bootstrap/_font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 252, compass_twitter_bootstrap/_font-awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 253, compass_twitter_bootstrap/_font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 254, compass_twitter_bootstrap/_font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 255, compass_twitter_bootstrap/_font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 256, compass_twitter_bootstrap/_font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 257, compass_twitter_bootstrap/_font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 258, compass_twitter_bootstrap/_font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 259, compass_twitter_bootstrap/_font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 260, compass_twitter_bootstrap/_font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 261, compass_twitter_bootstrap/_font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 263, compass_twitter_bootstrap/_font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 264, compass_twitter_bootstrap/_font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 265, compass_twitter_bootstrap/_font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 266, compass_twitter_bootstrap/_font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 267, compass_twitter_bootstrap/_font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 268, compass_twitter_bootstrap/_font-awesome.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 269, compass_twitter_bootstrap/_font-awesome.scss */
.icon-check-empty:before {
  content: "\f096";
}

/* line 270, compass_twitter_bootstrap/_font-awesome.scss */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 271, compass_twitter_bootstrap/_font-awesome.scss */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 272, compass_twitter_bootstrap/_font-awesome.scss */
.icon-twitter:before {
  content: "\f099";
}

/* line 273, compass_twitter_bootstrap/_font-awesome.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 274, compass_twitter_bootstrap/_font-awesome.scss */
.icon-github:before {
  content: "\f09b";
}

/* line 275, compass_twitter_bootstrap/_font-awesome.scss */
.icon-unlock:before {
  content: "\f09c";
}

/* line 276, compass_twitter_bootstrap/_font-awesome.scss */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 277, compass_twitter_bootstrap/_font-awesome.scss */
.icon-rss:before {
  content: "\f09e";
}

/* line 279, compass_twitter_bootstrap/_font-awesome.scss */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 280, compass_twitter_bootstrap/_font-awesome.scss */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 281, compass_twitter_bootstrap/_font-awesome.scss */
.icon-bell:before {
  content: "\f0a2";
}

/* line 282, compass_twitter_bootstrap/_font-awesome.scss */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 283, compass_twitter_bootstrap/_font-awesome.scss */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 284, compass_twitter_bootstrap/_font-awesome.scss */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 285, compass_twitter_bootstrap/_font-awesome.scss */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 286, compass_twitter_bootstrap/_font-awesome.scss */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 287, compass_twitter_bootstrap/_font-awesome.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 288, compass_twitter_bootstrap/_font-awesome.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 289, compass_twitter_bootstrap/_font-awesome.scss */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 290, compass_twitter_bootstrap/_font-awesome.scss */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 291, compass_twitter_bootstrap/_font-awesome.scss */
.icon-globe:before {
  content: "\f0ac";
}

/* line 292, compass_twitter_bootstrap/_font-awesome.scss */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 293, compass_twitter_bootstrap/_font-awesome.scss */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 295, compass_twitter_bootstrap/_font-awesome.scss */
.icon-filter:before {
  content: "\f0b0";
}

/* line 296, compass_twitter_bootstrap/_font-awesome.scss */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 297, compass_twitter_bootstrap/_font-awesome.scss */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 299, compass_twitter_bootstrap/_font-awesome.scss */
.icon-group:before {
  content: "\f0c0";
}

/* line 300, compass_twitter_bootstrap/_font-awesome.scss */
.icon-link:before {
  content: "\f0c1";
}

/* line 301, compass_twitter_bootstrap/_font-awesome.scss */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 302, compass_twitter_bootstrap/_font-awesome.scss */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 303, compass_twitter_bootstrap/_font-awesome.scss */
.icon-cut:before {
  content: "\f0c4";
}

/* line 304, compass_twitter_bootstrap/_font-awesome.scss */
.icon-copy:before {
  content: "\f0c5";
}

/* line 305, compass_twitter_bootstrap/_font-awesome.scss */
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 306, compass_twitter_bootstrap/_font-awesome.scss */
.icon-save:before {
  content: "\f0c7";
}

/* line 307, compass_twitter_bootstrap/_font-awesome.scss */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 308, compass_twitter_bootstrap/_font-awesome.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 309, compass_twitter_bootstrap/_font-awesome.scss */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 310, compass_twitter_bootstrap/_font-awesome.scss */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 311, compass_twitter_bootstrap/_font-awesome.scss */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 312, compass_twitter_bootstrap/_font-awesome.scss */
.icon-underline:before {
  content: "\f0cd";
}

/* line 313, compass_twitter_bootstrap/_font-awesome.scss */
.icon-table:before {
  content: "\f0ce";
}

/* line 315, compass_twitter_bootstrap/_font-awesome.scss */
.icon-magic:before {
  content: "\f0d0";
}

/* line 316, compass_twitter_bootstrap/_font-awesome.scss */
.icon-truck:before {
  content: "\f0d1";
}

/* line 317, compass_twitter_bootstrap/_font-awesome.scss */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 318, compass_twitter_bootstrap/_font-awesome.scss */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 319, compass_twitter_bootstrap/_font-awesome.scss */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 320, compass_twitter_bootstrap/_font-awesome.scss */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 321, compass_twitter_bootstrap/_font-awesome.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 322, compass_twitter_bootstrap/_font-awesome.scss */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 323, compass_twitter_bootstrap/_font-awesome.scss */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 324, compass_twitter_bootstrap/_font-awesome.scss */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 325, compass_twitter_bootstrap/_font-awesome.scss */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 326, compass_twitter_bootstrap/_font-awesome.scss */
.icon-columns:before {
  content: "\f0db";
}

/* line 327, compass_twitter_bootstrap/_font-awesome.scss */
.icon-sort:before {
  content: "\f0dc";
}

/* line 328, compass_twitter_bootstrap/_font-awesome.scss */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 329, compass_twitter_bootstrap/_font-awesome.scss */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 331, compass_twitter_bootstrap/_font-awesome.scss */
.icon-envelope-alt:before {
  content: "\f0e0";
}

/* line 332, compass_twitter_bootstrap/_font-awesome.scss */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 333, compass_twitter_bootstrap/_font-awesome.scss */
.icon-undo:before {
  content: "\f0e2";
}

/* line 334, compass_twitter_bootstrap/_font-awesome.scss */
.icon-legal:before {
  content: "\f0e3";
}

/* line 335, compass_twitter_bootstrap/_font-awesome.scss */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 336, compass_twitter_bootstrap/_font-awesome.scss */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 337, compass_twitter_bootstrap/_font-awesome.scss */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 338, compass_twitter_bootstrap/_font-awesome.scss */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 339, compass_twitter_bootstrap/_font-awesome.scss */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 340, compass_twitter_bootstrap/_font-awesome.scss */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 341, compass_twitter_bootstrap/_font-awesome.scss */
.icon-paste:before {
  content: "\f0ea";
}

/* line 342, compass_twitter_bootstrap/_font-awesome.scss */
.icon-lightbulb:before {
  content: "\f0eb";
}

/* line 343, compass_twitter_bootstrap/_font-awesome.scss */
.icon-exchange:before {
  content: "\f0ec";
}

/* line 344, compass_twitter_bootstrap/_font-awesome.scss */
.icon-cloud-download:before {
  content: "\f0ed";
}

/* line 345, compass_twitter_bootstrap/_font-awesome.scss */
.icon-cloud-upload:before {
  content: "\f0ee";
}

/* line 347, compass_twitter_bootstrap/_font-awesome.scss */
.icon-user-md:before {
  content: "\f0f0";
}

/* line 348, compass_twitter_bootstrap/_font-awesome.scss */
.icon-stethoscope:before {
  content: "\f0f1";
}

/* line 349, compass_twitter_bootstrap/_font-awesome.scss */
.icon-suitcase:before {
  content: "\f0f2";
}

/* line 350, compass_twitter_bootstrap/_font-awesome.scss */
.icon-bell-alt:before {
  content: "\f0f3";
}

/* line 351, compass_twitter_bootstrap/_font-awesome.scss */
.icon-coffee:before {
  content: "\f0f4";
}

/* line 352, compass_twitter_bootstrap/_font-awesome.scss */
.icon-food:before {
  content: "\f0f5";
}

/* line 353, compass_twitter_bootstrap/_font-awesome.scss */
.icon-file-alt:before {
  content: "\f0f6";
}

/* line 354, compass_twitter_bootstrap/_font-awesome.scss */
.icon-building:before {
  content: "\f0f7";
}

/* line 355, compass_twitter_bootstrap/_font-awesome.scss */
.icon-hospital:before {
  content: "\f0f8";
}

/* line 356, compass_twitter_bootstrap/_font-awesome.scss */
.icon-ambulance:before {
  content: "\f0f9";
}

/* line 357, compass_twitter_bootstrap/_font-awesome.scss */
.icon-medkit:before {
  content: "\f0fa";
}

/* line 358, compass_twitter_bootstrap/_font-awesome.scss */
.icon-fighter-jet:before {
  content: "\f0fb";
}

/* line 359, compass_twitter_bootstrap/_font-awesome.scss */
.icon-beer:before {
  content: "\f0fc";
}

/* line 360, compass_twitter_bootstrap/_font-awesome.scss */
.icon-h-sign:before {
  content: "\f0fd";
}

/* line 361, compass_twitter_bootstrap/_font-awesome.scss */
.icon-plus-sign-alt:before {
  content: "\f0fe";
}

/* line 363, compass_twitter_bootstrap/_font-awesome.scss */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 364, compass_twitter_bootstrap/_font-awesome.scss */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 365, compass_twitter_bootstrap/_font-awesome.scss */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 366, compass_twitter_bootstrap/_font-awesome.scss */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 367, compass_twitter_bootstrap/_font-awesome.scss */
.icon-angle-left:before {
  content: "\f104";
}

/* line 368, compass_twitter_bootstrap/_font-awesome.scss */
.icon-angle-right:before {
  content: "\f105";
}

/* line 369, compass_twitter_bootstrap/_font-awesome.scss */
.icon-angle-up:before {
  content: "\f106";
}

/* line 370, compass_twitter_bootstrap/_font-awesome.scss */
.icon-angle-down:before {
  content: "\f107";
}

/* line 371, compass_twitter_bootstrap/_font-awesome.scss */
.icon-desktop:before {
  content: "\f108";
}

/* line 372, compass_twitter_bootstrap/_font-awesome.scss */
.icon-laptop:before {
  content: "\f109";
}

/* line 373, compass_twitter_bootstrap/_font-awesome.scss */
.icon-tablet:before {
  content: "\f10a";
}

/* line 374, compass_twitter_bootstrap/_font-awesome.scss */
.icon-mobile-phone:before {
  content: "\f10b";
}

/* line 375, compass_twitter_bootstrap/_font-awesome.scss */
.icon-circle-blank:before {
  content: "\f10c";
}

/* line 376, compass_twitter_bootstrap/_font-awesome.scss */
.icon-quote-left:before {
  content: "\f10d";
}

/* line 377, compass_twitter_bootstrap/_font-awesome.scss */
.icon-quote-right:before {
  content: "\f10e";
}

/* line 379, compass_twitter_bootstrap/_font-awesome.scss */
.icon-spinner:before {
  content: "\f110";
}

/* line 380, compass_twitter_bootstrap/_font-awesome.scss */
.icon-circle:before {
  content: "\f111";
}

/* line 381, compass_twitter_bootstrap/_font-awesome.scss */
.icon-reply:before {
  content: "\f112";
}

/* line 382, compass_twitter_bootstrap/_font-awesome.scss */
.icon-github-alt:before {
  content: "\f113";
}

/* line 383, compass_twitter_bootstrap/_font-awesome.scss */
.icon-folder-close-alt:before {
  content: "\f114";
}

/* line 384, compass_twitter_bootstrap/_font-awesome.scss */
.icon-folder-open-alt:before {
  content: "\f115";
}

/* line 9, main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, main.scss */
a {
  color: #999;
}
/* line 16, main.scss */
a:hover {
  color: #333;
}

/* line 21, main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Lato;
  color: #222;
}

/* line 26, main.scss */
.container {
  margin: 100px auto 0;
}

/* line 30, main.scss */
.title {
  padding: 40px;
  width: 50%;
  float: left;
  text-align: right;
}

/* line 37, main.scss */
.social {
  font-size: 30px;
  margin-top: 30px;
  display: inline-block;
}
/* line 42, main.scss */
.social:hover {
  text-decoration: none;
}

/* line 47, main.scss */
.labs {
  padding: 40px;
  width: 50%;
  float: right;
  -webkit-box-shadow: -8px 0 8px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 0 8px -6px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 0 8px -6px rgba(0, 0, 0, 0.5);
}
/* line 53, main.scss */
.labs a {
  display: block;
  margin: 5px 0;
}
